#events {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    display: flex;
    padding: 21px 0px;

    .headboard, .footboard {
        width: calc(50% - 43px);
        flex: 0 0 auto;
    }

    .event {
        position: relative;
        width: 6px;
        height: 42px;
        margin: 0px 40px;
        flex: 0 0 auto;
        cursor: pointer;

        .event-fret {
            height: 100%;
            background-color: #fff;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            transition-property: transform;
            box-shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 10px rgba(0,0,0,0.6);
        }

        .event-topbox {
            position: absolute;
            width: 90vw;
            left: -45vw;
            text-align: center;
            bottom: calc(100% + 46px);
            opacity: 0;
            transition: all 0.3s ease-in-out;
            transition-property: opacity;
            display: flex;
            flex-direction: column;
            align-items: center;


            .event-title {
                font-family: 'Cinzel', serif;
                margin: 0;
                color: #fff;
                // transition: all 0.3s ease-in-out;
                // transition-property: letter-spacing;
                font-size: 3.1rem;
                -webkit-font-smoothing: antialiased;
                // letter-spacing: 0px;
                letter-spacing: 17px;
                margin-right: -17px;
                text-shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 10px rgba(0,0,0,0.6);
            }

            .event-year {
                font-family: 'Cinzel', serif;
                margin: 0;
                color: #fff;
                // transition: all 0.3s ease-in-out;
                // transition-property: letter-spacing;
                font-size: 2.1rem;
                -webkit-font-smoothing: antialiased;
                text-shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 10px rgba(0,0,0,0.6);
                // letter-spacing: 0px;
                letter-spacing: 17px;
                margin-right: -17px;
            }

            p {
                position: absolute;
                top: calc(100% + 175px);
                font-family: 'Cinzel', serif;
                margin: 0;
                color: #fff;
                // transition: all 0.3s ease-in-out;
                // transition-property: letter-spacing;
                font-size: 1.5rem;
                -webkit-font-smoothing: antialiased;
                // letter-spacing: 0px;
                letter-spacing: 3px;
                margin-right: -17px;
                text-shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 10px rgba(0,0,0,0.6);
            }
        }

        &.focused {

            .event-fret {
                transform: scale(1,3.2) translate(0px, 6px);
            }

            .event-topbox {
                opacity: 1;

                // .event-title {
                //     letter-spacing: 17px;
                // }

                // .event-year {
                //     letter-spacing: 17px;
                // }
            }
        }
    }

    &.sticky-scroll {
        scroll-snap-type: x mandatory;
        scroll-padding: 50%;

        .event {
            scroll-snap-align: center;
        }
    }
}