#timeline-wrapper {
    font-family: 'Cinzel', serif;
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to left, #333 0%, #245 45%, #245 55%, #333 100%);

    &.line-plot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.vertical-listing {

    }
}
